.bannerContainer h3 {
    color: #FFF;
    text-align: center;
    margin-top: 24px;
}
.banner {
    height: 20vh;
    width: 100%;
    /* background-image: url('/images/banner1.png');  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  */
    background-color: rgb(0,36,70);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 4px solid rgb(0,69,137);
}
.banner h1 {
    color: #FFF ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}